<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome!</title>
	<link rel="stylesheet" href="{{ url_for('static', filename = 'lib/bootstrap/css/bootstrap.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/stylesheet.css')}}">
	
</head>
<header>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Darrick's Awesome Forum</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        
	        <li><a href="/dashboard">Dashboard</a></li>
	        <li class=""><a href="/message/new">New Topic </a></li>
			<li><a href="http://www.darrickchung.com">About Me</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	      	{% if session['user_id'] %}
	      		<li><a href="">Welcome, {{session['first_name']}}</a></li>
	      		<li><a href="/logout">Logout</a></li>
	        {% else %}
	        	<li>
		        	<a class="" href='#' data-toggle="modal" data-target="#loginModal">Login</a>
		        </li>
				<li>
		        	<a class="" href='#' data-toggle="modal" data-target="#regModal">Register</a>
		        </li>
	        {% endif %}
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	{% with messages =  get_flashed_messages() %}
		{% if messages %}
			{% for message in messages%}
				<div class="alert alert-warning alert-dismissable" role='alert'>
					<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
					{{message}}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<!-- Login Modal -->
	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Login</h4>
	      </div>
	      <div class="modal-body">
	    	<form action="/login" method='post'>
				Email: <input type="text" name='email'>
				Password: <input type="password" name='password'>
				<button type='submit' class='btn btn-success'>Submit</button>
			</form>
	      </div>
	      <div class="modal-footer">
	      	...
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Registration Modal -->
	<div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Register</h4>
	      </div>
	      <div class="modal-body">
			<form action="/registration" method='post'>
				First Name: <input type="text" name='first_name'><br>
				Last Name: <input type="text" name='last_name'><br>
				Email: <input type="text" name='email'><br>
				Password: <input type="password" name='password'><br>
				Confirm Password: <input type="password" name='password_confirm'><br>
				<button type='submit' class='btn btn-primary'>Submit</button>
			</form>
	      </div>
	      <div class="modal-footer">
	      	...
	      </div>
	    </div>
	  </div>
	</div>
</header>
<body>

	<div class='container-fluid'>
		{% block body %}

		{% endblock %}

	</div>
	<script src="{{ url_for('static', filename = 'lib/jquery/jquery.js')}}"></script>
	<script src="{{ url_for('static', filename = 'lib/bootstrap/js/bootstrap.js')}}"></script>

</body>

</html>